# Environment Variables Configuration

# Copy this file to .env and fill in your values

# =============================================================================
# File Monitoring Configuration
# =============================================================================

# INPUT_DIR
#   Path to the directory that dagster monitors for new and changed files
INPUT_DIR=

# =============================================================================
# Dagster Configuration
# =============================================================================

# DAGSTER_HOME
#   Absolute path to .dagster file. Dagster uses this environment variable to
#   find the file it uses to configure itself.
#   For more information: https://docs.dagster.io/deployment/oss/dagster-yaml
DAGSTER_HOME= # ABSOLUTE path to .dagster file

# DAGSTER METADATA DATABASE
DAGSTER_PG_DB=dagster
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
POSTGRES_USER=lance
